body {
  display: grid;
  grid-template-rows: auto auto;
  background-color: #e8ebea;
}

a {
  display: block;
  background-color: #63a5d4;
}

a:link,a:visited {
  color: black;
  text-decoration: none;
}

header {
  display: grid;
  grid-template: 100px / 3fr 1fr 1fr 1fr;
  column-gap: 2px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  background-color: black;
}

.meny {
  text-align: center;
  background-color: #63a5d4;
}

section {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: #9fcbed;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-right: black solid 2px;
  border-radius: 5px;
}

main {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  margin-bottom: 100px;
  background-color: #9fcbed;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
  border-right: black solid 2px;
  border-radius: 5px;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}

iframe {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  section {
    max-width: 600px;
  }

  header {
    grid-template: 100px 100px / 1fr 1fr 1fr;
  }

  .loga {
    grid-column: 1 / -1;
    border-bottom: black solid 2px;
  }

  main {
    min-width: 100%;
  }
}
